<div id="<%= dom_id type %>">
  <p>
    <strong>Name:</strong>
    <%= type.name %>
  </p>

  <p>
    <strong>Double damage to:</strong>
    <%= type.double_damage_to %>
  </p>

  <p>
    <strong>Double damage from:</strong>
    <%= type.double_damage_from %>
  </p>

  <p>
    <strong>Half damage to:</strong>
    <%= type.half_damage_to %>
  </p>

  <p>
    <strong>Half damage from:</strong>
    <%= type.half_damage_from %>
  </p>

  <p>
    <strong>No damage to:</strong>
    <%= type.no_damage_to %>
  </p>

  <p>
    <strong>No damage from:</strong>
    <%= type.no_damage_from %>
  </p>

</div>
