<div id="<%= dom_id move %>">
  <p>
    <strong>Name:</strong>
    <%= move.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= move.type_id %>
  </p>

  <p>
    <strong>Accuracy:</strong>
    <%= move.accuracy %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= move.power %>
  </p>

  <p>
    <strong>Pp:</strong>
    <%= move.pp %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= move.priority %>
  </p>

  <p>
    <strong>Ailment:</strong>
    <%= move.ailment %>
  </p>

  <p>
    <strong>Ailment chance:</strong>
    <%= move.ailment_chance %>
  </p>

  <p>
    <strong>Effect:</strong>
    <%= move.effect %>
  </p>

</div>
