<p style="color: green"><%= notice %></p>

<h1><%=@ability.name%></h1>
<div><%=@ability.effect%></div>
<h3>Pokemon with ability</h3>
<table>
    <tr>
      <th>No.</th>
      <th>Picture</th>
      <th>Name</th>
    </tr>
    <% @ability.pokemon.each do |pokemon|%>
      <tr>
        <td>#<%=pokemon.number%></td>
        <td><%= link_to image_tag(pokemon.sprite, :alt => pokemon.name), pokemon%></td>
        <td><%= link_to pokemon.name, pokemon%></td>
      </tr>
    <% end%>
