<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Sprite:</strong>
    <%= pokemon.sprite %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= pokemon.hp %>
  </p>

  <p>
    <strong>Attack:</strong>
    <%= pokemon.attack %>
  </p>

  <p>
    <strong>Defence:</strong>
    <%= pokemon.defence %>
  </p>

  <p>
    <strong>Special attack:</strong>
    <%= pokemon.special_attack %>
  </p>

  <p>
    <strong>Special defence:</strong>
    <%= pokemon.special_defence %>
  </p>

  <p>
    <strong>Generation:</strong>
    <%= pokemon.generation_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pokemon.weight %>
  </p>

  <p>
    <strong>Evolution chain:</strong>
    <%= pokemon.evolution_chain %>
  </p>

</div>
