<p style="color: green"><%= notice %></p>

<%= form_with model: @pokemon, method: :get do |form| %>
  <%= form.text_field :search %>
  <%= form.submit "Search", :name => nil%>
<%end%>

<h1>Pokemon</h1>
<div id="pokemons">
  <%if @pokemons%>
    <% @pokemons.each do |pokemon| %>
      <%= link_to  image_tag(pokemon.sprite, :alt => pokemon.name), pokemon %>
    <% end %>
    <%= paginate @pokemons %>
  <% elsif @pokemon_search %>
    <%=link_to  image_tag(@pokemon_search.sprite, :alt => @pokemon_search.name), @pokemon_search %>
  <%else%>
    <div>Pokemon not found.</div>
  <%end%>
</div>

