<p style="color: green"><%= notice %></p>


<div>
  <h1><%= @pokemon.name %></h1>
  <%= image_tag(@pokemon.sprite, :alt => @pokemon.name, :width=>250) %>
  <h2>Stats</h2>
  <ul>
    <li>Attack: <%=@pokemon.attack%></li>
    <li>Defence: <%=@pokemon.defence%></li>
    <li>Special Attack: <%=@pokemon.special_attack%></li>
    <li>Special Defence: <%=@pokemon.special_defence%></li>
    <li>Speed: <%=@pokemon.speed%></li>
  </ul>
  <h2>Learnable Moves</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
    <% @pokemon.move.each do |move|%>
      <tr>
        <td><%=link_to move.name, move%></td>
        <td><%= link_to move.type.name, move.type%></td>
      </tr>
    <%end%>
  </table>
</div>
